<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- 
  web.xml 文件给 Web Container 提供了如何加载 Servlet 的最基本的信息，和如何
  将 HTTP 请求路由到各个 Servlet 的信息。
 -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Echo 应用程序</display-name>
    <description>
        这个应用程序将从客户端接收到的 msg 参数数据返回给客户端。
    </description>

    <!-- 下面的一组指令告诉 Web 应用容器 Servlet Class 的位置，这样容器可以把它们
         加载到容器当中。 -->
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>org.magnum.mobilecloud.servlet.EchoServlet</servlet-class>
    </servlet>

    <!-- 下面的一组指令告诉 Web 应用容器哪些请求应当被路由到我们的 Servlet。这个案例中，
         所有指向 '/echo' 路径的请求都会被路由到我们的 Servlet。也可以使用通配符进行路径
         匹配。例如 '/echo/**' 将匹配 '/echo/' 的所有子路径，例如 '/echo/foo' 和 
         '/echo/bar'。 -->
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
        <!-- http://localhost:8080/echo -->
    </servlet-mapping>

</web-app>    